@model ProjectManagementApp.ViewModels.RequestViewModel
@{
    ViewBag.Title = "Dashboard";
}

@using Microsoft.AspNet.Identity
@using System.Globalization
@using System.Net.Mail
@using ProjectManagementApp.Utils

@if (Request.IsAuthenticated)
{
    //if (DateTime.UtcNow.AddHours(5.5).Hour < 12)
    //{
    //    lblGreeting.Text = "Good Morning";
    //    lblDate.Text = Convert.ToString(DateTime.UtcNow.AddHours(5.5));
    //}
    //else if (DateTime.UtcNow.AddHours(5.5).Hour < 17)
    //{
    //    lblGreeting.Text = "Good Afternoon";
    //    lblDate.Text = Convert.ToString(DateTime.UtcNow.AddHours(5.5));
    //}
    //else
    //{
    //    lblGreeting.Text = "Good Evening";
    //    lblDate.Text = Convert.ToString(DateTime.UtcNow.AddHours(5.5));
    //}

    <div>
        <h3>Hi @TextTools.EmailToName(User.Identity.GetUserName())!</h3>
        <p>Welcome to IT Support Help Desk.</p>
        <hr>
    </div>
    if (Model.Requests.Count == 0)
    {
        <h4>My Requests</h4>
        <p>You have no open requests.</p>
    }
    else
    {
        <h4>My Requests</h4>
        <p style="font-size: 12px;">All open request(s) submitted by you:</p>
        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th>Request no.</th>
                    <th>Subject</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var request in Model.Requests)
                {
                    <tr>
                        <td style="cursor: pointer;" onclick="location.href = '@(Url.Action("EditRequest", "Home", new { Id = request.Id }))'">@request.Id</td>
                        <td style="cursor: pointer;" onclick="location.href = '@(Url.Action("EditRequest", "Home", new { Id = request.Id }))'">@request.Subject</td>
                        <td style="cursor: pointer;" onclick="location.href = '@(Url.Action("EditRequest", "Home", new { Id = request.Id }))'">@request.Status</td>
                    </tr>
                }
            </tbody>
        </table>
    }
}
else
{
    <p>Login please</p>
}



@*<div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@
