@model DataLibraryNew2.Models.Request

@{
    ViewBag.Title = "View Request";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Request no. @Model.Id</h3>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "control-label col-md-2", @for = "disabledInput" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control", id="disabledInput" , @disabled = "disabled", style = "color: grey;" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2", @for = "disabledInput"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", id = "disabledInput", @disabled = "disabled", style = "color: grey;" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2", @for = "disabledInput" })
        <div class="col-md-5">
            @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control", id = "disabledInput", @disabled = "disabled", style = "color: grey;" } })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-2"></div>
        <div class="col-md-5">
            @{
                switch (@Model.Status)
                {
                    case "New":
                        <p>Your request has been recieved. The IT Team will contact you shortly.</p>
                        break;
                    case "In Progress":
                        <p>The IT team is working on your request and will keep you posted.</p>
                        break;
                    case "Completed":
                        <p>Your request is completed.</p>
                        break;

                }
            }
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
